<div class="post-image-form relative">
  <div *ngIf="disabled" class="absolute top-0 left-0 w-full h-full rounded-lg px-5 py-4 flex items-center justify-center">
    <h1 class="md:text-xl text-center">You need to upload the image before submitting the data</h1>
  </div>
  <form [formGroup]="dataForm" (submit)="submit($event)" [ngClass]="disabled ? 'invisible': ''">
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Title</span>
      </label>
      <input formControlName="title" type="text" placeholder="Image title" class="input input-bordered hover:bg-base-300 active:scale-95 duration-100 transition w-full" />
      <label class="label">
        <span class="label-text-alt"></span>
        <span class="label-text-alt">255</span>
      </label>
    </div>

    <div class="form-control my-4">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      <textarea formControlName="description" class="textarea textarea-bordered h-24 active:scale-95 hover:bg-base-300 transition duration-100" placeholder="Image description"></textarea>
      <label class="label">
        <span class="label-text-alt"></span>
        <span class="label-text-alt">1000</span>
      </label>
    </div>


    <div class="form-control w-full my-4">
      <label class="label">
        <span class="label-text">Category</span>
      </label>
      <select formControlName="category" class="select active:scale-95 hover:bg-base-300 transition duration-100">
        <option value="0" selected>Default</option>
        <option value="1">Category1</option>
        <option value="2">Category2</option>
        <option value="3">Category3</option>
        <option value="4">Category4</option>
        <option value="5">Category5</option>
      </select>
    </div>

    <div class="form-control w-full my-4">
      <label class="label">
        <span class="label-text">Visibility</span>
      </label>
      <select formControlName="visibility" class="select active:scale-95 hover:bg-base-300 transition duration-100">
        <option value="true" selected>Public</option>
        <option value="false">Private</option>
      </select>
    </div>

    <div class="form-control w-full my-4">
      <label class="label">
        <span class="label-text">Tags</span>
      </label>
      <input formControlName="tags" type="text" placeholder="eg. tag1,tag2,tag3" class="input input-bordered hover:bg-base-300 active:scale-95 duration-100 transition w-full ">
    </div>

    <div class="form-control w-full my-7">
      <div class="flex items-center justify-start">
        <span >Nsfw</span>
        <input formControlName="nsfw" type="checkbox" class="checkbox mx-3 bg-base-100 hover:bg-base-300 active:scale-95 transition duration-100">
      </div>
    </div>

    <input type="submit" value="submit" class="btn btn-primary w-full">
  </form>
</div>
