<div class="flex flex-row">
    <app-categories/>
    <section>
        <h1 class="text-primary-content m-5">Total images found ({{imagePostsPage?.totalElements}})</h1>
        <div>
            <div class="flex flex-wrap bg-base-200 p-4" style="gap: 10px">
                <button (click)="showImageDetailsDialog(image.slug)" *ngFor="let image of images;"
                        class="w-96 h-56 flex-grow-[1] transition duration-100 active:scale-90">
                    <app-image-card [imagePost]="image"/>
                </button>
            </div>
            <app-pagination [page]="imagePostsPage" (pageChange)="getImagePostsPage()"/>
        </div>
        <dialog #imageDetailsDialog class="modal" style="background-color: rgba(0,0,0,0.7); backdrop-filter: blur(5px)">
            <div class="modal-box w-11/12 max-w-5xl">
                <button class="absolute top-0 right-0 btn btn-ghost btn-circle"
                        (click)="closeModal()">
                    <ng-icon name="heroXCircle" size="28px"/>
                </button>
                <!--ngIf so the component gets destroyed and renders after every closing of the dialog-->
                <app-image-details *ngIf="imageDetailsDialog.open" [slug]="selectedImageSlug" flex-direction="flex-col"/>
            </div>
        </dialog>
    </section>
</div>
