<div class="card bg-base-100 shadow-xl w-full h-full relative">
  <figure><img class="object-cover h-full w-full "
               [src]="imagePost?.image" [alt]="imagePost?.content ?? 'no description'"/></figure>
  <div class="card-overlay">
    <div class="card-top-left">
     <span class="p-4 flex items-center">
       <ng-icon name="heroHandThumbUpSolid"/>
       140
     </span>
    </div>
    <div class="card-top-right">
      <span class="p-4 flex items-center">
       <ng-icon name="heroEyeSolid"/>
       10K
     </span>
    </div>
    <div class="card-body flex items-center justify-center">
      <div>
        <h1>{{imagePost?.title}}</h1>
        <p>{{imagePost?.title}}</p>
      </div>
    </div>
  </div>
</div>
