<div class="notifications-wrapper fixed bottom-0 right-5">
  <ng-container *ngFor="let n of notifications">
    <div class="cursor-pointer" (click)="notificationClick(n)">
      <div class="alert shadow-xl my-5 w-[300px] relative overflow-hidden" [ngClass]="n.type ?? ''">
        <div *ngIf="n.thumbnail; else iconTypeTmpl" class="h-full absolute top-0 left-0 w-[100px]">
          <img class="w-full h-full object-center" [src]="n.thumbnail" alt="notification thumbnail">
        </div>
        <ng-template #iconTypeTmpl [ngSwitch]="n.type">
          <svg *ngSwitchCase="NotificationType.info" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <svg *ngSwitchCase="NotificationType.success" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <svg *ngSwitchCase="NotificationType.warning" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
          <svg *ngSwitchCase="NotificationType.error" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <svg *ngSwitchDefault xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </ng-template>
        <div [ngClass]=" n.thumbnail ? 'ml-[100px]' : ''">
          <h3 class="font-bold">{{n.title}}</h3>
          <p *ngIf="n.content !== undefined" class="text-xs">{{n.content}}</p>
        </div>
        <div class="absolute top-1/2 right-0 -translate-y-1/2">
          <button class="btn btn-ghost btn-circle" (click)="remove(n)" >✕</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
