<div class="navbar bg-transparent fixed z-50" style="backdrop-filter: blur(20px);">
  <div class="navbar-start">
    <ng-container *ngIf="!isScreenLarge">
      <app-mobile />
    </ng-container>
    <a routerLink="/" class="btn btn-ghost normal-case text-xl">
      <div class="avatar">
        <div class="w-8 rounded">
          <img src="../../logo.png" />
        </div>
      </div>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex" *ngIf="isScreenLarge">
   <app-desktop />
  </div>
  <div class="navbar-end">
    <a class="btn">Sign In</a>
  </div>
</div>
