<div class="hero min-h-screen bg-cover bg-center bg-no-repeat relative" style="background-image: url(https://images.unsplash.com/photo-1612534268757-5ad43935365d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);">
  <div class="hero-overlay bg-black bg-opacity-50" style="backdrop-filter: blur(5px);"></div>
  <div class="hero-content text-center text-neutral-content flex-col">
    <div>
      <div class="join">
        <select class="select select-bordered md:select-lg join-item">
          <option selected>Images</option>
          <option>Vectors</option>
          <option>Videos</option>
          <option>Audio</option>
          <option>3D Models</option>
        </select>
        <div>
          <div>
            <input class="input input-bordered md:input-lg join-item" placeholder="Search..."/>
          </div>
        </div>
        <button class="btn md:btn-lg join-item">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="absolute left-1/2 bottom-8 -translate-x-1/2">
  <button class="btn btn-primary rounded-full">Scroll Down</button>
</div>

