<header [ngClass]="headerPosition" class="top-0 z-50 w-full">
  <div class="pre-component">
    <div *ngComponentOutlet="header?.pre ?? null"></div>
  </div>
  <div class="navbar bg-transparent" style="backdrop-filter: blur(20px);">
    <div class="navbar-start">
      <ng-container *ngIf="!isScreenLarge">
        <app-mobile/>
      </ng-container>
      <a routerLink="/" class="btn btn-ghost normal-case text-xl">
        <div class="avatar">
          <div class="w-8 rounded">
            <img src="../../logo.png"/>
          </div>
        </div>
      </a>
    </div>
    <div class="navbar-center hidden lg:flex" *ngIf="isScreenLarge">
      <app-desktop/>
    </div>
    <div class="navbar-end">
      <a class="btn">Sign In</a>
    </div>
  </div>
  <div class="post-component">
  </div>
  <div *ngComponentOutlet="header?.post ?? null"></div>
</header>
