<div class="upload-img w-full flex flex-col justify-center items-center">
  <ng-container *ngIf="imageLocalUrl !== undefined && progress === 0">
    <div class="relative" @fadeInOnEnter>
      <button (click)="uploadImage()" class="btn btn-circle btn-primary absolute top-2 left-3">
        <ng-icon name="heroArrowUpOnSquare" size="24px"></ng-icon>
      </button>
      <button (click)="removePreviewImage()" class="btn btn-circle btn-error absolute top-2 right-3">
        <ng-icon name="heroXCircle" size="24px"></ng-icon>
      </button>
      <img [src]="imageLocalUrl" alt="uploaded user file" class="rounded-xl shadow w-[400px] h-[200px] object-cover">
    </div>
  </ng-container>
  <ng-container>
    <label @fadeInOnEnter *ngIf="progress === 0 && imageLocalUrl === undefined" for="upload_image_file_input" class="btn btn-ghost h-auto p-4">
      <div class="flex flex-col items-center">
        <ng-icon name="heroPhoto" size="78px" />
        <p>Upload Image</p>
      </div>
    </label>
  </ng-container>
  <div *ngIf="progress > 0 && progress <=100" class="font-mono" >
    <h3 class="text-xl text-primary">{{progressText}}</h3>
    <progress class="progress progress-primary w-56" [value]="progress" max="100"></progress>
    <p class="text-primary text-xl">{{progress}}%</p>
  </div>
  <input #uploadImageInputTemplate (change)="fileInputHandler(uploadImageInputTemplate)" id="upload_image_file_input" type="file" class="hidden" accept="image/bmp, image/png, image/jpeg">
</div>
