<div class="relative flex flex-col justify-center h-screen overflow-hidden">
  <div class="w-full p-6 m-auto bg-base-200 rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-xl">
    <h1 class="text-3xl font-semibold text-center text-gray-700">Create Account</h1>
    <form class="space-y-4 text-secondary-content" [formGroup]="form" (submit)="onSubmit($event)">
      <div class="form-control">
        <label class="label">
          <span class="text-base label-text">Username</span>
        </label>
        <input type="text" placeholder="Name" class="w-full input input-bordered" [ngClass]="username.invalid && (username.dirty || username.touched) ? 'input-error' : ''" formControlName="username"/>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <span *ngIf="username.errors?.['required']" class="label-text-alt text-error">Username is required</span>
          <span *ngIf="username.errors?.['minlength']" class="label-text-alt text-error">Username length should be bigger than {{username.errors?.['minlength']['requiredLength']}} characters</span>
          <span *ngIf="username.errors?.['maxlength']" class="label-text-alt text-error">Username length should be lower than {{username.errors?.['maxlength']['requiredLength']}} characters</span>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input type="text" placeholder="Email Address" class="w-full input input-bordered" [ngClass]="email.invalid && (email.touched || email.dirty) ? 'input-error' : ''" formControlName="email"/>
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
          <span *ngIf="email.errors?.['required']" class="label-text-alt text-error">Email is required</span>
          <span *ngIf="email.errors?.['email']" class="label-text-alt text-error">Invalid Email Format</span>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input type="password" placeholder="Enter Password" class="w-full input input-bordered" [ngClass]="password.invalid && (password.dirty || password.touched) ? 'input-error' : ''" formControlName="password"/>
        <div *ngIf="password.invalid && (password.touched || password.dirty)">
          <span *ngIf="password.errors?.['required']" class="label-text-alt text-error">Password is required</span>
          <span *ngIf="password.errors?.['minlength']" class="label-text-alt text-error">Password length should be bigger than {{password.errors?.['minlength']['requiredLength']}} characters</span>
          <span *ngIf="password.errors?.['maxlength']" class="label-text-alt text-error">Password length should be lower than {{password.errors?.['maxlength']['requiredLength']}} characters</span>
        </div>
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Confirm Password</span>
        </label>
        <input type="password" placeholder="Confirm Password" class="w-full input input-bordered" [ngClass]="rePass.invalid && (rePass.dirty || rePass.touched) ? 'input-error' : ''" formControlName="rePass"/>
        <div *ngIf="form.invalid && (form.touched || form.dirty)">
          <span *ngIf="rePass.invalid && (rePass.touched || rePass.dirty) && rePass.errors?.['required']" class="label-text-alt text-error">ReTyping password is required</span>
          <span *ngIf="form.errors?.['mismatch']" class="label-text-alt text-error">Password does not match</span>
        </div>
      </div>
      <div>
        <button class="btn btn-block btn-primary">Sign Up</button>
      </div>
      <span>Already have an account ?
                    <a routerLink="login" class="text-blue-600 hover:text-blue-800 hover:underline">Login</a></span>
    </form>
  </div>
</div>
